.btn {
  display: block;
  box-sizing: border-box;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: $light-blue;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $light-blue-hover;
  }

  &:active {
    color: rgba(white, 0.3%);
    background-color: $light-blue-active;
  }

  // Firefox fix
  &:focus {
    outline: 2px solid $light-blue-active;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active,
  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    color: white;
    background-color: $gray;
    cursor: default;
  }
}
