.container {
  width: 320px;
  background-color: white;
}


@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}


@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
