.controls {
  background-color: $light-gray;
}

.controls__control {
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.controls__icon {
  display: block;
  fill: rgb(92, 104, 112);

  &--replay {
    width: 16px;
    height: 20px;
  }

  &--subtitles {
    width: 32px;
    height: 20px;
  }

  &--fullscreen {
    width: 20px;
    height: 20px;
  }

  &:hover {
    fill: $light-black;
  }

  &:active {
    fill: rgba($light-black, 0.3%);
  }
}
