.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  margin-left: 12px;
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
  fill: black;

  &:hover {
    fill: $light-blue;
  }

  &:active {
    fill: rgba(black, 0.3%);
  }
}
