.features__list {
  counter-reset: list-counter;

  line-height: 21px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgb(238, 238, 238);
}

.features__list--secondary {
  padding: 26px 20px 40px;
  text-align: left;
  color: $light-black;
  background-color: white;
}


@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__list--secondary {
    padding: 0;
    text-align: center;
  }
}
