.feature {
  &--highlighted {
    color: white;
    background-color: $light-blue;
  }

  &--primary {
    position: relative;
    padding: 27px 35px 28px;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;

      @include border-bottom($dark-gray);
    }

    &:last-child::after {
      border: none;
    }
  }

  &--secondary {
    margin-bottom: 17px;
  }

  &--secondary:last-child {
    margin-bottom: 0;
  }
}

.feature__body {
  padding: 38px 20px 40px;

  &--first {
    padding-top: 55px;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: black;

  &--highlighted {
    color: white;
  }

  &--primary::after {
    counter-increment: list-counter;

    content: "– №" counter(list-counter) " –";
    display: block;
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
  }

  &--secondary {
    padding: 10px 0 4px;
    margin-bottom: 10px;
    padding-left: 50px;
    background-repeat: no-repeat;
  }

  &--housing {
    background-image: url("../img/icon-house.svg");
    background-position: 2px 0;
    background-size: 37px 37px;
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-position: 5px 0;
    background-size: 32px 38px;
  }

  &--food {
    padding-bottom: 7px;
    background-image: url("../img/icon-burger.svg");
    background-position: 0 7px;
    background-size: 38px 35px;
  }
}

.feature__text {
  margin: 0;

  &--secondary {
    padding-left: 50px;
  }
}

.feature__text-wrap {
  display: none;
}

.feature__image {
  height: 260px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &--city {
    background-image: url("../img/main-city-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
    }
  }

  &--bridge {
    background-image: url("../img/main-bridge-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
    }
  }
}


@media (min-width: $tablet-width) {
  .feature {
    &--highlighted {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &--primary {
      box-sizing: border-box;
      width: 33.33%;
      padding: 44px;

      &::after {
        border: none;
      }
    }

    &--secondary {
      box-sizing: border-box;
      width: 33.33%;
      padding: 56px 45px 61px;
      margin: 0;
    }

    &--souvenirs {
      order: 1;
    }
  }

  .feature__body {
    box-sizing: border-box;
    width: 33.34%;
    padding: 45px;

    &--right {
      order: 1;
    }
  }

  .feature__title {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 21px;

    &--secondary {
      padding: 0;
      padding-top: 102px;
      margin-bottom: 21px;
    }

    &--housing {
      background-position: 50% 3px;
      background-size: 75px 72px;
    }

    &--souvenirs {
      background-position: 50% 0;
      background-size: 64px 75px;
    }

    &--food {
      background-position: 50% 6px;
      background-size: 77px 68px;
    }
  }

  .feature__text {
    &--secondary {
      padding-left: 0;
    }
  }

  .feature__image {
    width: 66.66%;
    height: auto;

    &--city {
      background-image: url("../img/main-city-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/main-bridge-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .feature {
    &--primary {
      padding: 45px 55px 65px;
    }

    &--secondary {
      padding: 57px 55px 82px;
    }
  }

  .feature__body {
    padding: 52px 65px 58px;
  }

  .feature__text-wrap {
    display: inline;
  }

  .feature__image {
    &--city {
      background-image: url("../img/main-city-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/main-bridge-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }
  }
}
