.fields-group {
  @include border-bottom;

  &:last-of-type {
    border-bottom: none;
  }
}

.fields-group__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: black;
}


@media (min-width: $tablet-width) {
  .fields-group {
    border-bottom: none;
  }

  .fields-group__title {
    margin-bottom: 60px;
    font-size: 21px;
    text-align: left;

    &--wide {
      width: 100%;
      text-align: center;
    }

    &--contacts {
      margin-bottom: 30px;
    }
  }
}
