.fields-group {
  @include border-bottom;
}

.fields-group__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: black;

  &--contacts {
    margin-bottom: 20px;
  }

  &--review {
    margin-bottom: 16px;
  }
}


@media (min-width: $tablet-width) {
  .fields-group {
    border-bottom: none;
  }

  .fields-group__title {
    margin-bottom: 57px;
    font-size: 21px;
    text-align: left;

    &--wide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      text-align: center;

      &::before,
      &::after {
        content: "";
        width: 19.14%;
        height: 1px;
        background-color: rgb(219, 219, 219);
      }
    }

    &--contacts {
      margin-bottom: 24px;
    }

    &--visit {
      margin-bottom: 42px;
    }
  }
}


@media (min-width: $desktop-width) {
  .fields-group__title {
    &--wide {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &--for-selectors {
      margin-left: 78px;
    }

    &--contacts {
      margin-bottom: 73px;
    }

    &--visit {
      margin-bottom: 40px;
    }
  }
}
