.form {
  line-height: 26px;
  margin-bottom: 37px;
}

.form__fields-group {
  padding: 18px 20px 26px;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 51px;
    border-bottom: none;
  }
}

.form__fileds-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--contacts {
    position: relative;
    margin-bottom: 13px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-color: $gray;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &--tel::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__label {
  display: block;
  margin-right: 14px;
  cursor: pointer;

  &--selectable {
    position: relative;
    box-sizing: border-box;
    padding: 15px 0;
    padding-left: 78px;
    margin-right: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      margin-right: 22px;
      background-color: $light-gray;
    }

    &:hover::before {
      background-color: $gray;
    }

    &:active::before {
      background-color: $dark-gray;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--for-radiobtn {
    margin-bottom: 13px;

    &::before {
      border-radius: 50%;
    }
  }

  &--for-checkbox {
    margin-bottom: 24px;

    &::before {
      border-radius: 5px;
    }
  }

  &--contacts {
    width: 100%;
    margin-bottom: 6px;
    margin-left: 22px;
  }
}

.form__checkbox:checked + .form__label--selectable::after,
.form__radiobtn:checked + .form__label--selectable::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

.form__radiobtn:checked + .form__label--for-radiobtn::after {
  width: 22px;
  height: 22px;
  background-color: $light-black;
  border-radius: 50%;
}

.form__checkbox:checked + .form__label--for-checkbox::after {
  width: 24px;
  height: 16px;
  background: url("../img/icon-tick.svg") 0 0 no-repeat;
}

.form__checkbox:focus + .form__label--selectable::before,
.form__radiobtn:focus + .form__label--selectable::before {
  background-color: $gray;
}

.form__field {
  flex-grow: 1;
  box-sizing: border-box;
  width: 150px;
  height: 58px;
  padding: 0 20px;
  font-weight: bold;
  font-family: inherit;
  font-size: 18px;
  line-height: inherit;
  color: black;
  background-color: $light-gray;
  border: 4px solid $light-gray;
  // iOS fix
  appearance: none;
  border-radius: 0;

  &--textarea {
    display: block;
    width: 100%;
    height: 160px;
    resize: none;
    padding: 10px 20px;
  }

  &--contacts {
    padding-right: 78px;
  }

  &:hover {
    background-color: $gray;
    border-color: $gray;
  }

  &:focus {
    background-color: white;
    border-color: $gray;
    outline: none;
  }

  &::placeholder {
    color: black;
    // Firefox fix
    opacity: 1;
  }
}

.form__btn {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.form__tip {
  display: none;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
    margin-bottom: 61px;
  }

  .form__fields-group {
    width: 100%;
    padding: 0;
    margin-bottom: 70px;

    &:last-of-type {
      margin-bottom: 56px;
    }

    &--first {
      order: -1;
    }

    &--left-column {
      position: relative;
      width: 323px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background-color: rgb(219, 219, 219);
      }
    }

    &--right-column {
      width: 265px;
    }

    &--contacts {
      margin-bottom: 53px;
    }
  }

  .form__selectors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 95px;
    margin-bottom: -32px;
  }

  .form__fileds-wrapper--contacts {
    margin-bottom: 23px;
  }

  .form__label {
    &--for-checkbox {
      width: 200px;
      margin-bottom: 32px;

      // IE fix
      &:nth-of-type(odd) {
        margin-right: auto;
      }
    }

    &--for-radiobtn {
      margin-bottom: 22px;
    }

    &--contacts {
      margin-bottom: 7px;
    }
  }

  .form__btn {
    width: 50%;
    margin: 0;
  }

  .form__tip {
    align-self: center;
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px;
    margin-bottom: 66px;
  }

  .form__fields-group {
    &--left-column {
      width: 480px;
    }

    &--right-column {
      width: 400px;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__selectors-container {
    padding: 0;
    margin-bottom: 0;
  }

  .form__fileds-wrapper {
    &--contacts {
      margin-bottom: 0;
    }
  }

  .form__label {
    &--for-checkbox {
      width: auto;
      padding-left: 82px;
      margin-right: 67px;
      margin-bottom: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--for-radiobtn {
      margin-left: 4px;
    }

    &--contacts {
      width: auto;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .form__hidden-unit {
    display: none;
  }

  .form__field {
    &--contacts {
      flex-grow: 0;
      width: 316px;
    }
  }
}
