.gallery {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    margin-bottom: 69px;
  }
}


@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }
}
