.hotels-search {
  padding: 30px 0 49px;
  text-align: center;
}

.hotels-search__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.hotels-search__text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.hotels-search__btn {
  width: calc(100% - 40px);
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .hotels-search {
    padding: 58px 0;
  }

  .hotels-search__title {
    width: 458px;
    margin-bottom: 35px;
    font-size: 30px;
  }

  .hotels-search__text {
    width: 458px;
    margin-bottom: 44px;
  }

  .hotels-search__btn {
    width: 458px;
  }
}


@media (min-width: $desktop-width) {
  .hotels-search {
    padding: 58px 0 66px;
  }

  .hotels-search__text {
    margin-bottom: 49px;
  }
}
