.hotels-search {
  margin-bottom: 49px;
  text-align: center;
}

.hotels-search__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.hotels-search__text {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.hotels-search__btn {
  width: calc(100% - 40px);
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .hotels-search {
    margin-bottom: 58px;
  }

  .hotels-search__title {
    width: 458px;
    margin-bottom: 30px;
    font-size: 30px;
  }

  .hotels-search__text {
    width: 458px;
    margin-bottom: 42px;
  }

  .hotels-search__btn {
    width: 458px;
  }
}


@media (min-width: $desktop-width) {
  .hotels-search {
    margin-bottom: 66px;
  }

  .hotels-search__text {
    margin-bottom: 47px;
  }
}
