.page-footer {
  padding: 36px 20px 23px;
  line-height: 26px;
}

.page-footer__item {
  margin: 0;

  &--hashtag {
    margin-bottom: 36px;
  }

  &--socials {
    margin-bottom: 40px;
  }

  // на случай переполнения
  &:nth-child(n+4) {
    margin-top: 36px;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 36px 0;
  }

  .page-footer__item {
    flex-grow: 1;
    box-sizing: border-box;
    width: 33.33%;
    margin: 0;

    &--copyright {
      padding-left: 8px;
    }
  }
}


@media (min-width: $desktop-width) {
  .page-footer__item {
    &--hashtag {
      padding-right: 24px;
    }

    &--copyright {
      padding-left: 32px;
    }
  }
}
