.page-body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font: 14px/24px "PT Sans", "Arial", sans-serif;
  // iOS fix
  text-size-adjust: 100%;
  text-transform: uppercase;
  background-color: $light-gray;
}

.page-body__container {
  max-width: $desktop-width;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
