.page-footer {
  padding: 36px 20px 23px;
  line-height: 26px;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 36px;
}

.page-footer__socials {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__copyright {
  margin: 0;
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 36px 0;
  }

  .page-footer__hashtag {
    flex-grow: 1;
    box-sizing: border-box;
    width: 33.33%;
    margin: 0;
  }

  .page-footer__socials {
    flex-grow: 1;
    box-sizing: border-box;
    width: 33.33%;
    margin: 0;
  }

  .page-footer__copyright {
    flex-grow: 1;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 8px;
    margin: 0;
  }
}


@media (min-width: $desktop-width) {
  .page-footer__hashtag {
    padding-right: 24px;
  }

  .page-footer__copyright {
    padding-left: 32px;
  }
}
