.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__bar {
  position: relative;
  height: 56px;
  box-shadow: 0 -2px 7px 0 rgba(0, 1, 1, 0.2);
}

.page-header__page-logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__main-nav {
  order: -1;
}

.page-header__menu-toggle {
  display: none;
}


@media (max-width: $mobile-only-width) {
  .page-header__main-nav--close {
    display: none;
  }

  .page-header__menu-toggle {
    position: absolute;
    right: 20px;

    &--open {
      display: block;
      bottom: 18px;
    }

    &--open .menu-toggle__icon--open {
      display: block;
    }

    &--close {
      display: block;
      top: 17px;
    }

    &--close .menu-toggle__icon--close {
      display: block;
    }
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    display: block;
  }

  .page-header__bar {
    height: 0;
    box-shadow: none;
  }
}
