.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 320px;
  background-color: white;
  box-shadow: 0 5px 15px 2px rgba(0, 1, 1, 0.15);
  transform: translate(-50%, -50%);

  &--shown {
    display: block;
  }

  &--error {
    padding-bottom: 35px;
  }

  &--success {
    padding-bottom: 20px;
    background-color: $light-gray;
  }
}

.popup__text-wrapper {
  padding: 0 50px;
  text-align: center;
  background-color: white;

  &--error {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &--success {
    padding-top: 45px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.popup__text {
  margin: 0;
  color: $light-black;
}

.popup__btn {
  margin: 0 auto;

  &--error {
    width: 180px;
  }

  &--success {
    width: 280px;
  }
}


@media (min-width: $tablet-width) {
  .popup {
    &--error {
      width: 400px;
      padding-bottom: 49px;
    }

    &--success {
      width: 640px;
      padding-bottom: 44px;
    }
  }

  .popup__text-wrapper {
    padding-top: 65px;
    padding-bottom: 35px;

    &--success {
      padding-right: 110px;
      padding-left: 110px;
      margin-bottom: 44px;
    }
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__btn {
    &--error {
      width: 272px;
    }

    &--success {
      width: 458px;
    }
  }
}
