.presentation {
  margin-bottom: 39px;
  text-align: center;
}

.presentation__title {
  width: 81.25%;
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: black;
}

.presentation__text {
  width: 81.25%;
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .presentation {
    margin-bottom: 40px;
  }

  .presentation__title {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .presentation__text {
    margin-bottom: 73px;
  }

  .presentation__player {
    margin: 0 auto;
  }
}


@media (min-width: $desktop-width) {
  .presentation {
    margin-bottom: 85px;
  }

  .presentation__text {
    margin-bottom: 71px;
  }
}
