.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -6px;
}

.socials__btn {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  // на случай переполнения
  margin-top: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:active .socials__icon {
    opacity: 0.3;
  }

  &--twitter {
    padding: 17px 14px;
  }

  &--facebook {
    padding: 14px 19px 16px;
  }

  &--youtube {
    padding: 17px 13px;
  }
}

.socials__icon {
  // IE fix
  position: relative;
  display: block;
  fill: white;
}
