.vote__btn {
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.vote__thumb-icon {
  display: block;
  width: 22px;
  height: 20px;
  fill: rgba(black, 0.3%);
}

.vote__counter {
  font-weight: bold;
  color: black;
}
